$white: #ffffff;
$red: #8C0000;
$black: #333333;

$darkRed: #D95550;
$darkOrange: #EA9633;
$darkYellow: #E3CE0A;
$darkGreen: #5BD950;
$darkCyan: #19DAC3;
$darkBlue: #5055D9;
$darkViolet: #BE50D9;
$darkPink: #D95079;

$lightRed: #FF9595;
$lightOrange: #FFBB95;
$lightYellow: #FFE195;
$lightGreen: #B7FF95;
$lightCyan: #95FFF2;
$lightBlue: #95B3FF;
$lightViolet: #EA95FF;
$lightPink: #FF95BB;

$fontFamilyHeader: 'Arial';
$fontFamilyMain: 'Pangolin';
$fontFamilyTime: 'Pacifico';